{% extends 'common/base.html' %}

{% block title %}
dashboard
{% endblock %}

{% block css %}
    {% include 'common/dashboard.css.html' %}
{% endblock %}

{% block quick_info %}
    {% include 'common/quick_info.html' %}
{% endblock %}

{% block sidebar %}
    {% include 'common/dashboard.sidebar.html' %}
{% endblock %}

{% block menu_footer %}
    {% include 'common/menu_footer.html' %}
{% endblock %}

{% block top_nav %}
    {% include 'common/top_nav.html' %}
{% endblock %}

{% block page_content %}
        <div class="right_col" role="main">
          <div class="">
            <div class="row top_tiles">
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-users blue"></i></div>
                  <div class="count">{{ d['total_user'] }}</div>
                  <h3>总用户数</h3>
                  <p>当前平台登录过的用户数</p>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-comments-o dark"></i></div>
                  <div class="count">{{ d['total_product'] }}</div>
                  <h3>产品总数</h3>
                  <p>当前平台产品数量</p>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-edit blue"></i></div>
                  <div class="count">{{ d['total_case'] }}</div>
                  <h3>用例总数</h3>
                  <p>当前平台所编写的用例总数</p>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-check-square-o green"></i></div>
                  <div class="count">{{ d['total_run'] }}</div>
                  <h3>测试执行数</h3>
                  <p>当前平台上跑过多少次测试用例</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>测试用例月度统计<small></small></h2>
                    <div class="filter">
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                      <div class="demo-container" style="height:280px">
                        <div id="chart_plot_02" class="demo-placeholder"></div>
                      </div>

                    </div>

                    <div class="col-md-3 col-sm-12 col-xs-12">
                      <div>
                        <div class="x_title">
                          <h2>贡献最多</h2>
                          <div class="clearfix"></div>
                        </div>
                        <ul class="list-unstyled top_profiles scroll-view">
                            {% for t in d['top'] %}
                          <li class="media event">
                              <div class="profile_pic"><img src="{{ t['avator'] }}" alt="..." class="img-circle profile_img" style="margin: 5px 0px"></div>
                            <div class="media-body">
                                <br/>
                              <p><strong>贡献者: {{ t['_id']['author'] }} </strong> </p>
                              <p>用例总数: <strong class="green">{{ t['count'] }}</strong>
                              </p>
                            </div>
                          </li>
                            {% endfor %}
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

{% endblock %}

{% block footer %}
    {% include 'common/footer.html' %}
{% endblock %}

{% block js %}
    {% include 'common/dashboard.js.html' %}
    {% include 'home/common/dashboard.data.html' %}
{% endblock %}
