{% extends 'common/base.html' %}

{% block title %}
dashboard
{% endblock %}

{% block css %}
    {% include 'run/common/run.detail.css.html' %}
{% endblock %}

{% block quick_info %}
    {% include 'common/quick_info.html' %}
{% endblock %}

{% block sidebar %}
    {% include 'common/dashboard.sidebar.html' %}
{% endblock %}

{% block menu_footer %}
    {% include 'common/menu_footer.html' %}
{% endblock %}

{% block top_nav %}
    {% include 'common/top_nav.html' %}
{% endblock %}

{% block page_content %}
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-3 col-xs-12" style="position: fixed;z-index: 900; opacity:0.9;">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-11 col-xs-12">
                                <h2><span class="module-parent">{{ product['name'] }}</span> <small class="total-case"></small></h2>
                                <div hidden>
                                    <input id="product_id" value="{{ product['_id'] }}">
                                    <input id="plan_id" value="{{ plan['_id'] }}"/>
                                    <input id="run_id" value="{{ run['_id'] }}"/>
                                </div>
                            </div>
                            <div class="col-md-1 col-xs-12">
                                <a class="collapse-link "><i class="fa fa-chevron-up"></i></a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="height:600px;width:304px;overflow:auto">
                        {% include 'run/common/case.tree.html' %}
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-4 col-xs-12">
                                <h2>{{ product['name'] }}<span style="color: skyblue"> {{ plan['pd_ver'] }}</span></h2>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <h2><span class="module-parent" style="color:deepskyblue;">执行名称: 【{{ run['name'] }}】 (点击全部展示)</span></h2>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <a id="run-list" class="btn btn-primary pull-right" href="{{ url_for('run.lists', product_id=product['_id'],plan_id=plan["_id"]) }}">返回列表</a>
                                <btn id="end-run" class="btn btn-warning pull-right">结束执行</btn>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">ID</th>
                                        <th class="column-title">用例名称</th>
                                        <th class="column-title">类型</th>
                                        <th class="column-title">状态</th>
                                        <th class="column-title">优先级</th>
                                        <th class="column-title">作者</th>
                                        <th class="column-title">标签</th>
                                        <th class="column-title center" align="center" colspan="2">执行结果</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for p in modules %}
                                    {% if p['nt'] == 'leaf' %}
                                        {% if 'cases' in p %}
                                            {% for case in p['cases'] %}
                                                <tr class="even pointer selected li_{{ p['_id'] }} case_{{ case['_id'] }}">
                                                    <td class=" ">{{ case['_id'] }}</td>
                                                    <td class=" ">{{ case['name'] }}</td>
                                                    <td class=" ">{{ case['type'] }}</td>
                                                    <td class=" ">{{ case['stat'] }}</td>
                                                    <td class=" ">{{ case['p'] }}</td>
                                                    <td class=" ">{{ case['author'] }}</td>
                                                    <td class=" ">{% for tag in case['tags'] %}<span class="label label-success">{{ tag }}</span>&nbsp;{% endfor %}</td>
                                                    {% set cs=run['detail'][case["_id"]|string]%}
                                                    <td class="" colspan="2"><span class="label case-status {% if  cs['stat'] == 'init' %}label-info{% elif cs['stat'] == 'stop' %}label-warning{% elif cs['stat'] == 'abort' %}label-default{% elif cs['stat'] == 'fail' %}label-danger{% else %}label-success{% endif %}">{{ run['detail'][case["_id"]|string]['stat'] }}</span></td>
                                                </tr>
                                                <tr class="li_{{ p['_id'] }} case_{{ case['_id'] }}">
                                                    <td colspan="9">
                                                        <div title="{{ case['_id'] }}" class="col-md-12 col-sm-12 col-xs-12 run-padding">
                                                            <div class="col-md-10 col-sm-10 col-xs-12">
                                                                <div class="col-md-6 col-sm-6 col-xs-12 tree-line case-editor" >{{ case['step']|safe }}</div>
                                                                <div class="col-md-6 col-sm-6 col-xs-12 tree-line case-editor" >{{ case['expect']|safe }}</div>
                                                            </div>
                                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <span class="badge bg-orange change-cs-st" title="stop"><i class="fa fa-pause"></i></span>
                                                                    <span class="badge change-cs-st" title="abort"><i class="fa fa-stop"></i></span>
                                                                    <span class="badge bg-red change-cs-st" title="fail"><i class="fa fa-close"></i></span>
                                                                    <span class="badge bg-green change-cs-st" title="pass"><i class="fa fa-check"></i></span>
                                                                    <span class="badge bg-green pull-right case-submit">提交</span>
                                                                </div>
                                                                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback" style="margin-top: 5px">
                                                                    <input type="text" class="form-control case-bug" value="{{ cs['bugs'] }}"  placeholder="BUG URL">
                                                                    <span class="form-control-feedback right red case-bug" aria-hidden="true"><i class="fa fa-bug red"></i></span>
                                                                </div>
                                                                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                                                    <input type="text" class="form-control case-comment" value="{{ cs['comment'] }}"  placeholder="评论">
                                                                    <span class="form-control-feedback right case-comment" aria-hidden="true"><i class="fa fa-comments-o green"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                    {% if p['nt'] == 'child' %}
                                        {% if 'node' in p %}
                                            {% for l in p['node'] %}
                                                {% if 'cases' in l %}
                                                    {% for case in l['cases'] %}
                                                        <tr class="even pointer selected li_{{ p['_id'] }} li_{{ l['_id'] }} case_{{ case['_id'] }}">
                                                            <td class=" ">{{ case['_id'] }}</td>
                                                            <td class=" ">{{ case['name'] }}</td>
                                                            <td class=" ">{{ case['type'] }}</td>
                                                            <td class=" ">{{ case['stat'] }}</td>
                                                            <td class=" ">{{ case['p'] }}</td>
                                                            <td class=" ">{{ case['author'] }}</td>
                                                            <td class=" ">{% for tag in case['tags'] %}<span class="label label-success">{{ tag }}</span>&nbsp;{% endfor %}</td>
                                                            {% set cs=run['detail'][case["_id"]|string]%}
                                                            <td class="" colspan="2"><span class="label case-status {% if  cs['stat'] == 'init' %}label-info{% elif cs['stat'] == 'stop' %}label-warning{% elif cs['stat'] == 'abort' %}label-default{% elif cs['stat'] == 'fail' %}label-danger{% else %}label-success{% endif %}">{{ run['detail'][case["_id"]|string]['stat'] }}</span></td>
                                                            </td>
                                                        </tr>
                                                        <tr class="li_{{ p['_id'] }} li_{{ l['_id'] }} case_{{ case['_id'] }}">
                                                            <td colspan="9">
                                                                <div title="{{ case['_id'] }}" class="col-md-12 col-sm-12 col-xs-12 run-padding">
                                                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                                                        <div class="col-md-6 col-sm-6 col-xs-12 tree-line case-editor" >{{ case['step']|safe }}</div>
                                                                        <div class="col-md-6 col-sm-6 col-xs-12 tree-line case-editor" >{{ case['expect']|safe }}</div>
                                                                    </div>
                                                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                                            <span class="badge bg-orange change-cs-st" title="stop"><i class="fa fa-pause"></i></span>
                                                                            <span class="badge change-cs-st" title="abort"><i class="fa fa-stop"></i></span>
                                                                            <span class="badge bg-red change-cs-st" title="fail"><i class="fa fa-close"></i></span>
                                                                            <span class="badge bg-green change-cs-st" title="pass"><i class="fa fa-check"></i></span>
                                                                            <span class="badge bg-green pull-right case-submit">提交</span>
                                                                        </div>
                                                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback" style="margin-top: 5px">
                                                                            <input type="text" class="form-control case-bug" value="{{ cs['bugs'] }}"  placeholder="BUG URL">
                                                                            <span class="form-control-feedback right red case-bug" aria-hidden="true"><i class="fa fa-bug red"></i></span>
                                                                        </div>
                                                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                                                            <input type="text" class="form-control case-comment" value="{{ cs['comment'] }}"  placeholder="评论">
                                                                            <span class="form-control-feedback right case-comment" aria-hidden="true"><i class="fa fa-comments-o green"></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                    {% if p['nt'] == 'parent' %}
                                        {% if 'node' in p %}
                                            {% for c in p['node'] %}
                                                {% if c['nt'] == "leaf" %}
                                                    {% if 'cases' in c %}
                                                        {% for case in c['cases'] %}
                                                            <tr class="even pointer selected li_{{ p['_id'] }} li_{{ c['_id'] }} case_{{ case['_id'] }}">
                                                                <td class=" ">{{ case['_id'] }}</td>
                                                                <td class=" ">{{ p['name'] }}>{{ c['name'] }}>{{ case['name'] }}</td>
                                                                <td class=" ">{{ case['type'] }}</td>
                                                                <td class=" ">{{ case['stat'] }}</td>
                                                                <td class=" ">{{ case['p'] }}</td>
                                                                <td class=" ">{{ case['author'] }}</td>
                                                                <td class=" ">{% for tag in case['tags'] %}<span class="label label-success">{{ tag }}</span>&nbsp;{% endfor %}</td>
                                                                {% set cs=run['detail'][case["_id"]|string]%}
                                                                <td class="" colspan="2"><span class="label case-status {% if  cs['stat'] == 'init' %}label-info{% elif cs['stat'] == 'stop' %}label-warning{% elif cs['stat'] == 'abort' %}label-default{% elif cs['stat'] == 'fail' %}label-danger{% else %}label-success{% endif %}">{{ run['detail'][case["_id"]|string]['stat'] }}</span></td>
                                                            </tr>
                                                            <tr class="li_{{ p['_id'] }} li_{{ c['_id'] }} case_{{ case['_id'] }}">
                                                                <td colspan="9">
                                                                    <div title="{{ case['_id'] }}" class="col-md-12 col-sm-12 col-xs-12 run-padding">
                                                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                                                            <div class="col-md-6 col-sm-6 col-xs-12 tree-line case-editor" >{{ case['step']|safe }}</div>
                                                                            <div class="col-md-6 col-sm-6 col-xs-12 tree-line case-editor" >{{ case['expect']|safe }}</div>
                                                                        </div>
                                                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                                                <span class="badge bg-orange change-cs-st" title="stop"><i class="fa fa-pause"></i></span>
                                                                                <span class="badge change-cs-st" title="abort"><i class="fa fa-stop"></i></span>
                                                                                <span class="badge bg-red change-cs-st" title="fail"><i class="fa fa-close"></i></span>
                                                                                <span class="badge bg-green change-cs-st" title="pass"><i class="fa fa-check"></i></span>
                                                                                <span class="badge bg-green pull-right case-submit">提交</span>
                                                                            </div>
                                                                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback" style="margin-top: 5px">
                                                                                <input type="text" class="form-control case-bug" value="{{ cs['bugs'] }}"  placeholder="BUG URL">
                                                                                <span class="form-control-feedback right red case-bug" aria-hidden="true"><i class="fa fa-bug red"></i></span>
                                                                            </div>
                                                                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                                                                <input type="text" class="form-control case-comment" value="{{ cs['comment'] }}"  placeholder="评论">
                                                                                <span class="form-control-feedback right case-comment" aria-hidden="true"><i class="fa fa-comments-o green"></i></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endif %}
                                                {% if c['nt'] == 'child' %}
                                                    {% if 'node' in c %}
                                                        {% for l in c['node'] %}
                                                            {% if 'cases' in l %}
                                                                {% for case in l['cases'] %}
                                                                    <tr class="even pointer selected li_{{ p['_id'] }} li_{{ c['_id'] }} li_{{ l['_id'] }} case_{{ case['_id'] }}">
                                                                        <td class=" ">{{ case['_id'] }}</td>
                                                                        <td class=" ">{{ p['name'] }}>{{ c['name'] }}>{{ l['name'] }}>{{ case['name'] }}</td>
                                                                        <td class=" ">{{ case['type'] }}</td>
                                                                        <td class=" ">{{ case['stat'] }}</td>
                                                                        <td class=" ">{{ case['p'] }}</td>
                                                                        <td class=" ">{{ case['author'] }}</td>
                                                                        <td class=" ">{% for tag in case['tags'] %}<span class="label label-success">{{ tag }}</span>&nbsp;{% endfor %}</td>
                                                                        {% set cs=run['detail'][case["_id"]|string]%}
                                                                        <td class="" colspan="2"><span class="label case-status {% if  cs['stat'] == 'init' %}label-info{% elif cs['stat'] == 'stop' %}label-warning{% elif cs['stat'] == 'abort' %}label-default{% elif cs['stat'] == 'fail' %}label-danger{% else %}label-success{% endif %}">{{ run['detail'][case["_id"]|string]['stat'] }}</span></td>
                                                                    </tr>
                                                                    <tr class="li_{{ p['_id'] }} li_{{ c['_id'] }} li_{{ l['_id'] }} case_{{ case['_id'] }}">
                                                                        <td colspan="9">
                                                                            <div title="{{ case['_id'] }}" class="col-md-12 col-sm-12 col-xs-12 run-padding">
                                                                                <div class="col-md-10 col-sm-10 col-xs-12">
                                                                                    <div class="col-md-6 col-sm-6 col-xs-12 tree-line case-editor" >{{ case['step']|safe }}</div>
                                                                                    <div class="col-md-6 col-sm-6 col-xs-12 tree-line case-editor" >{{ case['expect']|safe }}</div>
                                                                                </div>
                                                                                <div class="col-md-2 col-sm-2 col-xs-12">
                                                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                                                        <span class="badge bg-orange change-cs-st" title="stop"><i class="fa fa-pause"></i></span>
                                                                                        <span class="badge change-cs-st" title="abort"><i class="fa fa-stop"></i></span>
                                                                                        <span class="badge bg-red change-cs-st" title="fail"><i class="fa fa-close"></i></span>
                                                                                        <span class="badge bg-green change-cs-st" title="pass"><i class="fa fa-check"></i></span>
                                                                                        <span class="badge bg-green pull-right case-submit">提交</span>
                                                                                    </div>
                                                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback" style="margin-top: 5px">
                                                                                        <input type="text" class="form-control case-bug" value="{{ cs['bugs'] }}"  placeholder="BUG URL">
                                                                                        <span class="form-control-feedback right red case-bug" aria-hidden="true"><i class="fa fa-bug red"></i></span>
                                                                                    </div>
                                                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                                                                        <input type="text" class="form-control case-comment" value="{{ cs['comment'] }}"  placeholder="评论">
                                                                                        <span class="form-control-feedback right case-comment" aria-hidden="true"><i class="fa fa-comments-o green"></i></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
    {% include 'common/footer.html' %}
{% endblock %}

{% block js %}
    {% include 'run/common/run.detail.js.html' %}
{% endblock %}
