<div class="modal fade bs-add-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel2">新增产品分类</h4>
        </div>
        <div class="modal-body">
            <h4><span id="pc_msg"></span></h4>
            <form class="form-horizontal form-label-left input_mask">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">名称:</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <input id="pc_name" name="name" type="text" class="form-control" placeholder="产品分类名称">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">描述:</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <input id="pc_desc" name="desc" type="text" class="form-control" placeholder="产品分类说明">
                    </div>
                  </div>
                </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button id="add_category" type="button" class="btn btn-primary">保存</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade bs-edit-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel2">编辑产品分类</h4>
        </div>
        <div class="modal-body">
            <h4><span id="pc_msg"></span></h4>
            <form class="form-horizontal form-label-left input_mask">
                  <input id="edit_id" name="_id" type="text" hidden="true">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">名称:</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <input id="edit_name" name="name" type="text" class="form-control" placeholder="产品分类名称">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">描述:</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <input id="edit_desc" name="desc" type="text" class="form-control" placeholder="产品分类说明">
                    </div>
                  </div>
                </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button id="edit_category" type="button" class="btn btn-warning">保存</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade bs-delete-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel2">删除产品分类</h4>
        </div>
        <div class="modal-body">
            <h4><i class="fa fa-google-wallet" style="color: blue"></i> 是否确认删除 <strong id="delete_name" style="color: red"></strong>?</h4>
            <input id="delete_id" name="_id" hidden="ture"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button id="delete_category" type="button" class="btn btn-danger">确定</button>
        </div>
      </div>
    </div>
</div>
