<!-- jQuery -->
<script src="{{ url_for('static', filename='vendors/jquery/dist/jquery.min.js')}}"></script>
<!-- Bootstrap -->
<script src="{{ url_for('static', filename='vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<!-- FastClick -->
<script src="{{ url_for('static', filename='vendors/fastclick/lib/fastclick.js')}}"></script>
<!-- NProgress -->
<script src="{{ url_for('static', filename='vendors/nprogress/nprogress.js')}}"></script>
<!-- iCheck -->
<script src="{{ url_for('static', filename='vendors/iCheck/icheck.min.js')}}"></script>

<!-- Custom Theme Scripts -->
<script src="{{ url_for('static', filename='build/js/custom.js')}}"></script>
