<div class="modal fade bs-delete-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel2">是否删除</h4>
        </div>
        <div class="modal-body">
            <h4><i class="fa fa-google-wallet" style="color: blue"></i> <strong id="delete_name" style="color: red"></strong>?</h4>
            <input id="delete_id" name="_id" hidden="ture"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button id="delete_run" type="button" class="btn btn-danger">确定</button>
        </div>
      </div>
    </div>
</div>
