<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> 首页 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{{ url_for("home.dashboard") }}">Dashboard</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-edit"></i> 产品管理 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{{ url_for("product.lists") }}">产品列表</a></li>
                    <li><a href="{{ url_for("product.categories") }}">项目分类</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-desktop"></i> 测试用例 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{{ url_for("case.dashboard") }}">编写用例</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-desktop"></i> 计划*执行*报告 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{{ url_for("plan.lists") }}">计划列表</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="menu_section">
        <h3>Live On</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-bug"></i> 用户管理 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{{ url_for("user.members") }}">用户列表</a></li>
                    <li><a href="{{ url_for("user.profile", user_id=current_user.user_id) }}">用户详情</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
        </ul>
    </div>
</div>
