<script src="{{url_for('static', filename='vendors/jquery/dist/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendors/pnotify/dist/pnotify.js')}}"></script>
<script src="{{ url_for('static', filename='vendors/pnotify/dist/pnotify.nonblock.js')}}"></script>
<script src="{{ url_for('static', filename='vendors/pnotify/dist/pnotify.buttons.js')}}"></script>
<script src="{{url_for('static', filename='wayz/js/common.js')}}"></script>
<script src="{{url_for('static', filename='wayz/js/ldap.js')}}"></script>
