{%macro paginate(data, url, params='')%}
	{%if data%}
        <div class="btn-toolbar">
            <div class="btn-group" align="center">
                {%if data.pages > 1%}
                    <a href="{{ url }}?{% if params != '' %}{{ params }}&{% endif %}page=1" class="btn btn-warning" type="button">首页</a>
                {% endif %}

                {% if data.prev_num > 0 %}
                    <a href="{{ url }}?{% if params != '' %}{{ params }}&{% endif %}page={{ data.prev_num }}" class="btn btn-info" type="button">上一页</a>
                {% endif %}

                {% for page in data['page'] %}
                    {% if data['foo'] > 0 %}
                        {%if data['foo'] == page %}
                            <a class="btn btn-success active" type="button" href="{{ url}}?{% if params != '' %}{{ params }}&{% endif %}page={{ page }}">{{ page }}</a>
                        {%elif page == "<<" %}
                            <a class="btn btn-success" type="button" href="{{ url}}?{% if params != '' %}{{ params }}&{% endif %}page={{ data['foo'] - 5 }}">{{ page }}</a>
                        {% elif page == ">>" %}
                            <a class="btn btn-success" type="button" href="{{ url}}?{% if params != '' %}{{ params }}&{% endif %}page={{ data['foo'] + 5 }}">{{ page }}</a>
                        {% else %}
                            <a class="btn btn-success" type="button" href="{{ url}}?{% if params != '' %}{{ params }}&{% endif %}page={{ page }}">{{ page }}</a>
                        {%endif%}
                    {% endif %}
				{% endfor %}

                {% if data['foo'] < data['pages'] %}
                    <a href="{{url}}?{% if params != '' %}{{ params }}&{% endif %}page={{ data['next_num'] }}" class="btn btn-info" type="button">下一页</a>
                {% endif %}

                {% if data['pages'] > 1 %}
                     <a href="{{url}}?{% if params != '' %}{{ params }}&{% endif %}page={{ data['pages'] }}" class="btn btn-warning" type="button">尾页</a>
                {% endif %}
            </div>
          </div>
    {% endif %}
{%endmacro%}
