{% extends "common/ldap_common.html" %}
{% block title %}
    用户登录
{% endblock %}
{% block login %}
    <div class="animate form login_form">
        <section class="login_content">
            <form id="loginForm" onSubmit='return submitLogin()'>
                {{ form.csrf_token }}
                <h1>LDAP用户登录</h1>
                <div class="item form-group bad">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {{ form.username(id="account", size=20, placeholder="用户名", class="form-control col-md-7 col-xs-12", required="required") }}
                        <span style="position: relative">
                            {% for message in form.username.errors %}
                                <div class="alert" style="position:absolute">{{ message }}</div>
                            {% endfor %}
                        </span>
                    </div>
                </div>
                <div class="item form-group bad">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {{ form.password(id="password", size=20, placeholder="密  码", class="form-control col-md-7 col-xs-12", required="required") }}
                        <span style="position: relative">
                            {% for message in form.password.errors %}
                                <div class="alert" style="position:absolute">{{ message }}</div>
                            {% endfor %}
                        </span>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-success submit">登 录</button>
                </div>
            </form>
        </section>
    </div>
{% endblock %}
