<!-- jQuery -->
<script src="{{ url_for('static', filename='vendors/jquery/dist/jquery.min.js')}}"></script>
<!-- Bootstrap -->
<script src="{{ url_for('static', filename='vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<!-- FastClick -->
<script src="{{ url_for('static', filename='vendors/fastclick/lib/fastclick.js')}}"></script>
<!-- NProgress -->
<script src="{{ url_for('static', filename='vendors/nprogress/nprogress.js')}}"></script>
<!-- Chart.js -->
<script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js')}}"></script>
<!-- jQuery Sparklines -->
<script src="{{ url_for('static', filename='vendors/jquery-sparkline/dist/jquery.sparkline.min.js')}}"></script>
<!-- easy-pie-chart -->
<script src="{{ url_for('static', filename='vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js')}}"></script>
<!-- bootstrap-progressbar -->
<script src="{{ url_for('static', filename='vendors/bootstrap-progressbar/bootstrap-progressbar.min.js')}}"></script>

<!-- Custom Theme Scripts -->
<script src="{{ url_for('static', filename='build/js/custom.js')}}"></script>
