<!-- jQuery -->
<script src="{{ url_for('static', filename='vendors/jquery/dist/jquery.min.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ url_for('static', filename='vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ url_for('static', filename='vendors/fastclick/lib/fastclick.js') }}"></script>
<!-- NProgress -->
<script src="{{ url_for('static', filename='vendors/nprogress/nprogress.js') }}"></script>
<!-- morris.js -->
<script src="{{ url_for('static', filename='vendors/raphael/raphael.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/morris.js/morris.min.js') }}"></script>
<!-- bootstrap-progressbar -->
<script src="{{ url_for('static', filename='vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{{ url_for('static', filename='vendors/moment/min/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>

<!-- Custom Theme Scripts -->
<script src="{{ url_for('static', filename='build/js/custom.js') }}"></script>
